<div class="our_graduates_info_text">
    <ul>
        @foreach (var item in TextList)
        {
            <li>
                <div class="dot dot_small"></div>
                <p>@item</p> 
            </li>
        }
    </ul>
</div>