<div class="mt-20">
    <TittleUnderStick JustifyContent="@JustifyContentEnum.FlexEnd" Tittle="Наши выпускники работают"/>
    <div class="our_graduates_info">
        <img src="/image/HomePage/VT.png" alt="" class="our_graduates_info_IMG"/>
        <OurGraduatesInfoLi/>
    </div>
</div>