.our_graduates_info .our_graduates_info_text li:last-child {
    margin-bottom: 0px;
}

.our_graduates_info_text p {
    width: 700px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 10px;
    max-width: 700px;
}

.our_graduates_info_IMG {
    width: 100%;
    max-width: 530px;
    height: auto;
    object-fit: contain;
    margin-right: 50px;
    margin-left: 50px;
}

.our_graduates_info_text {
    flex: 1;
    min-width: 300px;
}

.our_graduates_info_text li {
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
}
