# Blazor WebAssembly build files
wwwroot/_framework/Client.Core.*.wasm
wwwroot/_framework/Client.Core.*.pdb
wwwroot/_framework/dotnet.*.js
wwwroot/_framework/dotnet.*.wasm

# Standard .NET ignores
bin/
obj/
*.user
*.suo
*.vscode/
.vs/
.DS_Store
*.DS_Store
**/.DS_Store
[Dd]ebug/

# Blazor WebAssembly webcil files
**/obj/**/webcil/
**/bin/**/webcil/


# ALL build directories - most important!
obj/
bin/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Oo]ut/
[Pp]ublish/

# Blazor specific
**/wwwroot/_framework/
**/webcil/
**/scopedcss/
**/Razor/


# Rider IDE files
*.sln.iml
*.csproj.iml
rider.project.restore.info
.idea/

*.nuget.info
**/obj/
