<ul>
    @foreach (var item in HistoryList)
    {
        <li class="dot__history__li">
            <div class="dot dot__history"></div>
            <p class="dot__history__p">@item</p>
        </li>
    }
</ul>