<div class="HistoryOfCafedra">
    <TittleUnderStick JustifyContent="@JustifyContentEnum.FlexStart" Tittle="История кафедры"/>
    <div class="OurGraduatesInfo">
        <div class="OurGraduatesInfoText">
            <HistoryTimeLine/>
            <div class="Stick StickInHistory"></div>
        </div>
    </div>
</div>