<nav class="nav_bar">
    <img src="/image/Shared/nav_bar.png" alt="Логотип кафедры" class='nav_bar_IMG' />
    <button class="mobile-menu-button">
    </button>
    <nav> 
        <ul class="nav_li">
            <NavLink href="/" class="nav_link"> 
                <li class="nav_item Cursor">О КАФЕДРЕ</li>
            </NavLink>
            <NavLink href="educator" class="nav_link"> 
                <li class="nav_item Cursor">ПРЕПОДАВАТЕЛИ И СОТРУДНИКИ</li>
            </NavLink>
            <NavLink href="contacts" class="nav_link"> 
                <li class="nav_item Cursor">КОНТАКТЫ</li>
            </NavLink>
        </ul>
    </nav>
    <NavLink href="authorization" class="nav_link" style="margin-left: auto"> 
        <p class="nav_item Cursor">Авторизация</p>
    </NavLink>
</nav>