@page "/Authorization"
@layout LayoutWithoutBackground

<PageTitle>Authorization</PageTitle>

<div class="authorization-page">
    <div class="Menu" id="menu">
        <div class="Menu-Left">
            <div class="Menu-Left-Authorization">
                <p class="Tittle">ВХОД</p>
                <p class="Tittle Menu-Left-Authorization-Tittle-Lower">в аккаунт</p>
                <form action="">
                    <input class="input" type="" placeholder="Почта или телефон">
                    <input class="input" type="password" placeholder="Пароль">
                    <button class="button-black"><span>Войти</span></button>
                    <a href="" class="forgot-password">Забыли пароль?</a>
                </form>
            </div>
        </div>
    </div>
</div>