@page "/"
@layout MainLayout

<PageTitle>Home</PageTitle>

    <div class="container">
        <div class="home">
            <TittleBackground JustifyContent="@JustifyContentEnum.FlexStart" Color="006928d8" Tittle="Кафедра вычислительной техники"/>
            <InfoCafedra/>
            <OurGraduatesInfo/>
            <HistoryOfCafedra/>
        </div>
    </div>
