<div class="InfoCafedra">
    <div class="CafedraCards">
        <TextLeftStick Text="Кафедра <span style='color: #00471bd8'>вычислительной техники</span> - одна из старейших кафедр в Смоленском филиале НИУ 'МЭИ'. <br/>Кафедра выпускает высококвалифицированных специалистов в области информационных технологий и вычислительной техники."/>
        <TextLeftStick Text="Подготовка студентов кафедры вычислительной техники ведется опытным профессорско-преподавательским составом в количестве 23-х человек, из которых 4 доктора наук и 16 кандидатов наук."/>
        <TextLeftStick Text="Обучение студентов происходит по направлению <span style=' color: #00471bd8'>09.03.01 - 'ИНФОРМАТИКА И ВЫЧИСЛИТЕЛЬНАЯ ТЕХНИКА'"/>
    </div>
</div>